.App {
  text-align: center;
}

.App-hero {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-container {
  margin-left: 10em;
  display: flex;
  align-items: center;
}

.Logo-text {
  margin: 0;
  font-weight: bold;
  font-size: 4em;
}

.sticky-text {
  margin: 0;
  font-weight: 800;
  font-size: 3em;
  position: fixed;
  top: 20px;
}

.arcitect-text {
  margin: 0;
  margin-left: 1em;
  font-size: 3em;
}

.content-hero {
  min-height: 100vh;
  background: aqua;
}